html {
    height: 100%;
}

body {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 22px;
    padding: 0;
    margin: 0;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3Csvg xmlns:dc='http://purl.org/dc/elements/1.1/' xmlns:cc='http://creativecommons.org/ns%23' xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns%23' xmlns:svg='http://www.w3.org/2000/svg' xmlns='http://www.w3.org/2000/svg' xmlns:sodipodi='http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd' xmlns:inkscape='http://www.inkscape.org/namespaces/inkscape' height='721.334' width='965.719' version='1.1' id='svg15' sodipodi:docname='wave2.svg' inkscape:version='1.0 (4035a4fb49, 2020-05-01)'%3E%3Cmetadata id='metadata19'%3E%3Crdf:RDF%3E%3Ccc:Work rdf:about=''%3E%3Cdc:format%3Eimage/svg+xml%3C/dc:format%3E%3Cdc:type rdf:resource='http://purl.org/dc/dcmitype/StillImage' /%3E%3C/cc:Work%3E%3C/rdf:RDF%3E%3C/metadata%3E%3Csodipodi:namedview inkscape:document-rotation='0' pagecolor='%23ffffff' bordercolor='%23666666' borderopacity='1' objecttolerance='10' gridtolerance='10' guidetolerance='10' inkscape:pageopacity='0' inkscape:pageshadow='2' inkscape:window-width='1920' inkscape:window-height='1017' id='namedview17' showgrid='false' inkscape:zoom='0.3945418' inkscape:cx='-280.28246' inkscape:cy='199.60467' inkscape:window-x='-8' inkscape:window-y='-8' inkscape:window-maximized='1' inkscape:current-layer='svg15' /%3E%3Cdefs id='defs7'%3E%3ClinearGradient gradientTransform='scale(1,1.5795008)' y2='98.425' x2='883.237' y1='50.592' x1='154.706' id='A' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%231cb34a' id='stop2' /%3E%3Cstop offset='1' stop-color='%23008033' id='stop4' /%3E%3C/linearGradient%3E%3C/defs%3E%3Cpath d='M 0.048,0.022 965.719,0 965.412,619.444 c 0,0 -168.735,107.681 -262.313,101.645 C 583.654,713.384 496.533,510.405 387.721,549.405 240.985,601.998 149.4672,602.11532 76.212,528.185 6.2822719,457.61079 73.915001,328.82176 58.68409,230.64384 46.524212,152.26168 0.048,0.022 0.048,0.022 Z' fill='%23dbe3db' fill-opacity='0.522' fill-rule='evenodd' id='path9' sodipodi:nodetypes='cccccaac' /%3E%3Cpath id='path11-2' fill='%23005500' d='M 8.0301858,14.124412 C 163.41408,356.13729 220.5017,145.28573 322.37256,242.93566 c 46.7813,44.84282 77.19112,138.56819 128.89081,163.82602 46.80171,22.86319 96.97902,-21.10635 145.70745,-20.12133 116.2574,2.3482 282.70397,106.82735 368.92018,53.27588 L 953.31615,18.194543 c -291.65174,0.05132 -591.73447,-0.629685 -869.625627,0 z' style='fill:%230b280b;stroke-width:1' sodipodi:nodetypes='cccccccc' /%3E%3Cpath sodipodi:nodetypes='cccccccccccccccccc' style='stroke-width:1' d='M 8.0301858,14.124412 C 163.41409,336.53109 231.62716,133.49637 333.49802,225.54843 c 46.7813,42.27217 77.19112,130.62465 128.89081,154.43455 46.80171,21.55254 96.97902,-19.89641 145.70745,-18.96786 116.2574,2.21359 271.57851,129.38269 357.79472,78.90111 L 964.44161,33.999755 H 949.63643 875.40632 785.96261 696.92735 608.09628 519.061 429.61731 340.58204 251.75097 162.71569 73.271999 Z' fill='%23005500' id='path11' /%3E%3Cpath style='fill:url(%23A);stroke-width:0.999998' fill='url(%23A)' d='M 0.048,0.03474902 C 152.229,314.2859 237.437,97.071379 344.685,187.1882 c 46.546,39.11161 75.6,127.32041 126.234,150.52802 45.837,21.00737 95.08,-23.45085 142.704,-18.48805 119.892,12.49385 267.829,169.89267 352.268,120.68806 L 965.719,0 948.123,0.48490675 h -72.7 -87.6 -87.2 -87 -87.2 -87.6 -87.2 -87 -87.2 -87.6 z' id='path13' /%3E%3C/svg%3E%0A");
    background-position: center -1px;
    background-size: 100% auto;
    background-repeat: no-repeat;    
    background-color: #f1f1f1;      
    color: #444;  
    height: 100%;
}

* {
    box-sizing: border-box;
}

h1 {
    font-family: "Teko", sans-serif;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    color: #b6f9d1;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 40px;
}

h1.first {
    margin-top: 10px;
    margin-bottom: 0;
}

h1.first + p {
    margin: 0;
    font-size: smaller;
}

h2 {
    color: #008033;
}

h3 {
    color: #0B280B;
}

section {
    width: 100%;
    min-height: 100%;
    margin-bottom: 60px;
    opacity: 1;
    transition: opacity 1s ease;
}

section.hide {
    opacity: 0;
}


header {
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5%;
}

header img {
    max-height: 60px;
}

header a {
    display: inline-block;
}

main {
    width: 100%;    
}

main > div {
    background-color: #ffffffaa;
    max-width: 1200px;
    width: 90%;
    margin: auto;
    padding: 20px;
    margin: 0 auto;
    border-radius: 11px;
    box-shadow: 2px 2px 16px 0 #aaa;
}

footer {
    background-image: url(../img/grass.svg);
    height: 60px;
    width: 100%;
    border-bottom: 20px solid #333;
}


.just {
    text-align: justify;
}

.flag {
    height: 30px;
    border: 2px solid #fff;
    border-radius: 50%;
    display: inline-block;
    margin-left: 10px;
    transition: transform 0.4s ease;
}

.flag:hover {
    transform: scale(1.1);
}

.home {
    height: 28px;
    transition: transform 0.4s ease;
}

.home:hover {
    transform: scale(1.1);
}

a {
    color: #008033;
    text-decoration: none;
    transition: all 0.4s ease;
}

a:hover {
    text-decoration: underline;
}

ol > li {
    line-height: 1.4;
    margin-bottom: 15px;
}

@media (max-width: 1024px) {
    h1 {
        font-size: 38px;
    }

    main {
        padding: 10px;
    }
}


@media (max-width: 768px) {
    body {
        font-size: 20px;
    }

    header img {
        max-height: 50px;
    }

    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 31px;
    }
}

@media (max-width: 600px) {
    header img {
        max-height: 50px;
    }

    h1 {
        font-size: 34px;
    }

    h2 {
        font-size: 29px;
    }
}

@media (max-width: 500px) {
    body {
        font-size: 18px;
    }

    header img {
        max-height: 36px;
    }

    main {
        padding: 0;
    }

    h1 {
        font-size: 30px;
    }
    
    h2 {
        font-size: 27px;
    }

    header {
        padding: 10px;
    }

    header > div > a > img.flag,
    header > div > a > img.home {
        height: 22px;
    }

    header > div > a > img.flag {
        margin-left: 5px;
    }

    main > div {
        padding: 10px;
        width: 96%;
    }

    ul {
        padding-inline-start: 20px;
    }
}

@media (max-width: 420px) {

    header img {
        max-height: 30px;
    }

    h1 {
        font-size: 24px;
    }
    
    h2 {
        font-size: 20px;
    }

    p {
        font-size: 16px;
    }

    h3 {
        font-size: 18px;
    }

    main > div {
        box-shadow: none;
        width: 100%;
        border-radius: 0;
    }
}